body{
    padding: 20px 0;
    background-color:turquoise;
}
.card{
    max-width: 900px;
    width: 80%;
    height: 25em;
    transition: transform 0.5s;
    background-color: blueviolet;
}
.card:hover{
    transform: scale(1.05) rotateZ(3deg);
}

.card-body{
    background-color: brown;
}

.team-logo{
    width: 20%;
    min-width: 50px;
    border-radius: 100%;
}
.text-danger{
    font-size: 4rem;
    font-weight: 700;
}
.text-danger p{
    color: green;
}

.score{
    text-align: center;
}

.text2{
    margin-top: -1rem;
}