.header {
    text-align: center;
    background-color: green;
    font-size: 40px;
    font-weight: bolder;
}

h1,
h2 {
    text-align: center;
}

h2{
    background-color: green;
    text-align:center;
    font-weight: bolder;
}

.tag{
    background-color: grey;
    font-weight: bold;
}

.images_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 24px;
    margin-top: 2%;
}